
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: black; */
  }
  
  .register-header {
    font-size: 36px;
    color: #34a853;
    margin-bottom: 20px;
  }
  
  .form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-container {
    position: relative;
    margin-bottom: 30px;
  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }
  
  .register-form {
    width: 100%;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
  }
  
  .input-group label {
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .input-group input, .input-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .register-btn {
    width: 30%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto; /* Center the button */
    display: block; /* Ensure block-level element for centering */
}

  
  .register-btn:hover {
    background-color: #0056b3;
  }
  